body, html {
  height: 100%;
  margin: 0;
}

#root {
  height: inherit;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.header {
  flex: 0 1 auto;
}

.content {
  flex: 1 1 auto;
}

.footer {
  flex: 0 1 40px;
}

.no-decor {
  text-decoration: none;
  color: inherit;
}